.bg-dark{
    background-color: #5ccedf !important;
}

.nav-link{
    color: #000 !important;
}

.nav-link:hover{
    color: rgb(70, 66, 66) !important;
}


/* para pantallas mobiles */

@media (max-width: 768px) {
    .spacio{
        margin-left: 0px;
    }
}

/* para pantallas medianas */
/* @media (min-width: 768px) {
    .spacio{
        margin-left: 60px;
    }
} */

