 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <!-- <h1><a routerLink="/inicio"><strong>UGA</strong></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html"><img src="./assets/img/LOGOWEB.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">

        <ul>
          <li class="nav-item">
            <a class="nav-link spacio active " aria-current="page" [routerLink]="'/home'">Inicio</a>
          </li>
  
          <ng-container *ngIf="!authService.loggedIng(); else loggedIng">
            <li class="nav-item">
              <a class="nav-link scrollto" [routerLink]="'/login'">Iniciar Sesión</a>
            </li>
          </ng-container>
  
          <ng-template #loggedIng>
            <li class="nav-item">
              <a class="nav-link scrollto" [routerLink]="'/dashboard'" (click)="onDash()">Dashboard</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link scrollto" [routerLink]="'/consultartn'">Consulta RTN</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link scrollto" [routerLink]="'/ventabruta'">Venta Bruta</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link scrollto btnCerar" (click)="authService.logout()">Cerrar Sesión</a>
            </li>
          </ng-template>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

