<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand spacio" [routerLink]="'/home'">AMDC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse.toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav ms-auto ml-auto py-4 py-lg-0">

        <li class="nav-item">
          <a class="nav-link spacio active " aria-current="page" [routerLink]="'/home'">Inicio</a>
        </li>

        <ng-container *ngIf="!authService.loggedIng(); else loggedIng">
          <li class="nav-item">
            <a class="nav-link spacio" [routerLink]="'/login'">Iniciar Sesión</a>
          </li>
        </ng-container>

        <ng-template #loggedIng>
          <li class="nav-item">
            <a class="nav-link spacio" [routerLink]="'/dashboard'">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link spacio" [routerLink]="'/consultartn'">Consulta RTN</a>
          </li>

          <li class="nav-item">
            <a class="nav-link spacio" [routerLink]="'/ventabruta'">Venta Bruta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link spacio" (click)="authService.logout()">Cerrar Sesión</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
