<div [ngClass]="{'sidebar': true, 'active': isActive}" (click)="toggleActive()">
  <div class="logo-content">
    <div class="logo">
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">

    <li>
      <i class='bx bx-home-alt-2'></i>
      <!-- <i class='bx bx-search' ></i> -->
      <button class="btn btn-redactar" (click)="onHome()">Home</button>
      <span class="tooltip">Inicio</span>
    </li>

    @if (Rol === 'ROLE_ADMIN') {
    <li>
      <a Class="cursor-acti" (click)="onUser()">
        <!-- <i class='bx bx-chat' ></i> -->
        <i class="bx bx-user"></i>
        <span class="links-name ">Usuarios</span>
      </a>
      <span class="tooltip">Usuarios</span>
    </li>
  }

    <li>
      <a class="cursor-acti" (click)="onVentaB()" >
        <!-- <i class='bx bx-send'></i> -->
        <i class="bx bx-money"></i>
        <span class="links-name">Ventas Brutas</span>
      </a>
      <span class="tooltip">Ventas Brutas</span>
    </li>
    <li>
      <a (click)="onConsRtn()">
        <!-- <i class='bx bx-star'></i> -->
        <i class="bx bx-analyse"></i>
        <span class="links-name">Consulta RTN</span>
      </a>
      <span class="tooltip">Consulta RTN</span>
    </li>
    <li>
      <a (click)="onMisConsultas()">
        <i class="bx bx-star"></i>
        <span class="links-name">Mis Consultas</span>
      </a>
      <span class="tooltip">Mis Consultas</span>
    </li>
    <li>
      <a (click)="onDatosAMDC()">
        <i class="bx bx-data"></i>
        <span class="links-name">Datos AMDC</span>
      </a>
      <span class="tooltip">Datos AMDC</span>
    </li>
    @if (Rol === 'ROLE_ADMIN') {
    <li>
      <a (click)="onBitacora()">
        <i class="bx bx-folder"></i>
        <span class="links-name">Bitácora</span>
      </a>
      <span class="tooltip">Bitácora</span>
    </li>
  }
  </ul>
  <div class="profile-content">
    <div class="profile">
      <div class="profile-details">
        <img src="../../../assets/img/perfil/profile.png" alt="">
        <!-- icono de profile -->
        <!-- <i class='bx bx-user-circle' ></i> -->
        <div class="name-job">
          <div class="name">{{User}}</div>
          <div class="job">{{Rol}}</div>
        </div>
      </div>
      <i class="bx bx-power-off hands" id="log-out" (click)="authService.logout()"></i>
    </div>
  </div>
</div>

<div class="home-content pt-5 mr-2">
  <!-- <div class="text">Home Content</div> -->

  <!-- <h1>A un minuto de ti</h1> -->
  <div class="contenedor">

    @if (onDashboardL) {
      <div>
        <app-home></app-home>
      </div>
    }
   

   

    <!-- <p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p> -->

    <div [ngClass]="{'visible':regionVisible == 'inicio', 'no-visible':regionVisible != 'inicio'}">
      <div>
        <app-home></app-home>
      </div>
    </div>

    <div [ngClass]="{'visible':regionVisible == 'user', 'no-visible':regionVisible != 'user'}">
      <div>
        <app-user></app-user>
      </div>
    </div>

    <!-- mostrar solicitudComponete -->
    <div [ngClass]="{'visible':regionVisible == 'ventasBrutas', 'no-visible':regionVisible != 'ventasBrutas'}">
      <div>
        <app-ventabruta></app-ventabruta>
      </div>
    </div>

    <!-- SolaprobadaComponent -->
    <div [ngClass]="{'visible':regionVisible == 'consultaRtn', 'no-visible':regionVisible != 'consultaRtn'}">
      <div>
        <app-consulta-rtn></app-consulta-rtn>
      </div>
    </div>

    <!-- MisConsultasComponent -->
    <div [ngClass]="{'visible':regionVisible == 'misConsultas', 'no-visible':regionVisible != 'misConsultas'}">
      <div>
      <app-misconsultas></app-misconsultas>
      </div>
    </div>

    <!-- DatosAMDCComponent -->
    <div [ngClass]="{'visible':regionVisible == 'datosAMDC', 'no-visible':regionVisible != 'datosAMDC'}">
      <div>
        <app-datosamdc></app-datosamdc>
      </div>
    </div>

    <!-- BitacoraComponent -->
    <div [ngClass]="{'visible':regionVisible == 'bitacora', 'no-visible':regionVisible != 'bitacora'}">
      <div>
        <app-bitacora></app-bitacora>
      </div>
    </div>

    <!-- mostrar si es distintos de los otros -->
    <div [ngClass]="{'visible':regionVisible != 'onDash', 'no-visible':regionVisible != 'onDash'}">
      <div>
        <app-home></app-home>
      </div>
      

  </div>


</div>
