<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height: 70vh"
  >
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">
          <div class="text-center">
            <img
              src="assets/logos/CONSULTAS_SAR.png"
              alt="consultas"
              class="img-fluid img-reduce"
            />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{User || 'Resgistrate'}}  </h5>
          <p class="card-text">Buscar contribuyente por RTN</p>
          <div class="text-center mt-5">
            <button
              type="button"
              class="download-btn"
              [routerLink]="'/consultartn'"
            >
              Consulta RTN
            </button>
            <button
              type="button"
              class="download-btn"
              [routerLink]="'/ventabruta'"
            >
              Venta Bruta
            </button>
          </div>
        </div>
        <div class="card-footer text-body-secondary mt-2">
          <b>AMDC</b>
        </div>
      </div>

      <!-- <h4 class="text-center mb-4">Consultas - SAR</h4> -->
      <!-- IMAGEN -->
      <!-- <div class="text-center">
        <img src="assets/logos/CONSULTAS_SAR.png" alt="consultas" class="img-fluid img-reduce">
      </div>
      <div class="text-center mt-5">
        <button type="button" class="download-btn"  [routerLink]="'/consultartn'">Consulta RTN</button>
        <button type="button" class="download-btn" [routerLink]="'/ventabruta'">Venta Bruta</button>
      </div> -->
    </div>
  </div>
</div>
