<div class="container text-center">
    <!-- Agregar imagen como título -->
    <img src="/assets/logos/BITÁCORA.png" alt="BITACORA" class="img-fluid mx-auto mb-3" style="width: 20%;padding-top: 15px;"/>
  
<div class="table-responsive">
  <table class="table  table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Año</th>
        <th scope="col">RTN</th>
        <th scope="col">Empresa</th>
        <th scope="col">AMDC</th>
        <th scope="col">SAR</th>
        <th scope="col">Fecha</th>
        <th scope="col">Usuario</th>

      </tr>
    </thead>
    <tbody>
      @for (suma of sumaVVB; track suma.id; let i = $index) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ suma.anio }}</td>
        <td>{{ suma.RTN }}</td>
        <td>{{ suma.nombreEmpresa }}</td>
        <td>{{ suma.sumaAMDC }}</td>
        <td>{{ suma.sumaSar }}</td>
        <td>{{ suma.createdAt }}</td>
        <td>{{ suma.usuario}}</td>

      </tr>
      }
    </tbody>
  </table>
</div>
