.btn-success{
    background-color: #5ccedf !important;
}

.btn-success:hover{
    background-color: #cdd5d6 !important;
    color: black !important;
}


.visible{
  display: block;
}

.no-visible{
  display: none;
}
